<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= if Enum.any?(@conn.path_info, fn x -> x == "blogs" end) do %>
  <% c = @conn 
  title = c.private.plug_session["title"]
  description = c.private.plug_session["description"]
  image = "/images/forest_sd.jpg"
  image = c.private.plug_session["image"]
  IO.inspect(c.request_path)
  IO.inspect(title)
  IO.inspect(description)
  IO.inspect(image)
  string = ~s(
  <meta property="og:url" content="https://www.methodist.org.my#{c.request_path}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="#{title}" />
  <meta property="og:image" content="http://www.methodist.org.my#{image}" />
  <meta property="og:description" content="#{description}" />
)
  %>
  <%= raw(string) %>
  <% end %>
  <title>卫理华人年议会 Methodist Chinese Annual Conference | CAC</title>
  <!-- CSS Files 
  <link href="/assets/custom.css" rel="stylesheet">
  <link href="/assets/responsive.css" rel="stylesheet">
  -->
  <link href="/assets/color.css" rel="stylesheet">
  <link href="/assets/all.css" rel="stylesheet">
  <link href="/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/css/bootstrap_lux.min.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">
  <link href="/assets/prettyPhoto.css" rel="stylesheet">
  <link href="/assets/slick.css" rel="stylesheet">
  <link rel="icon" href="" type="image/png">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/assets/owl.carousel.min.js"></script>
  <script src="/assets/jquery.prettyPhoto.js"></script>
  <script src="/assets/slick.min.js"></script>
  <!--reveal start-->
  <link rel="stylesheet" href="/vendor/revealjs/reveal.css" />
  <link rel="stylesheet" href="/vendor/revealjs/theme/white.css" />
  <script type="text/javascript" src="/vendor/revealjs/reveal.js"></script>
  <script type="text/javascript" src="/js/bootstrap.notify.js"></script>
  <!--reveal end -->
  <script type="text/javascript" src="/js/app.js"></script>
  <script src="/js/firebase-app.js"></script>
  <!-- Add Firebase products that you want to use -->
  <script src="/js/firebase-auth.js"></script>
  <script src="/vendor/firebase-ui/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="/vendor/firebase-ui/firebase-ui-auth.css" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z4PS6CP7TS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z4PS6CP7TS');
</script>

</head>

<body style="overflow-x: hidden;" id="swiper-container">
  <% render("frontend_nav.html", conn: @conn) %>
  <%= @inner_content %>
  <div class="overlay"></div>
<div style="bottom: 3vh;right: 6vw; z-index: 100;" class="position-fixed ">
  <div class="darkMode btn btn-dark btn-sm rounded">
    <i class="far fa-2x fa-lightbulb" id="dm"></i>
  </div>
  <div class="toTop btn btn-success btn-sm rounded">
    <i class="fa fa-2x fa-caret-up" id="arc"></i>
  </div>
</div>

  <script type="text/javascript">
  $(document).ready(function() {
    <%= cond do %>
    <% get_flash(@conn, :info) != nil -> %>
    App.notify("<%= get_flash(@conn, :info) %>", { type: 'success' });
    <% get_flash(@conn, :error) != nil -> %>
    App.notify("<%= get_flash(@conn, :error) %>", { type: 'danger' });
    <% true -> %>
    <% end %>
  })

  $(".darkMode").click(() => {
    toggleDarkMode()

  })

  $(".toTop").click(() => {
    $("#pdf-render").removeClass("d-block")
    $("#arc").removeClass("fa-times")
    $("#arc").addClass("fa-caret-up")
    $("div[aria-label='mainbar']")[0].scrollIntoView();
  })
  $(document).on("click", ".navi a", function(event) {
    event.preventDefault();
    navigateTo($(this).attr("href"))
  });
  $(document).on("click", "a.navi", function(event) {
    event.preventDefault();
    navigateTo($(this).attr("href"))
  });
  function toggleDarkMode(){
    $("#subcontent").toggleClass("bg-dark text-white")
    $(".darkMode").toggleClass("btn btn-dark")
    $(".darkMode").toggleClass("btn btn-outline-light")
    $("#dm").toggleClass("far")
    $("#dm").toggleClass("text-white")
    $("#dm").toggleClass("fas")
  }
  </script>
  <div class="modal" id="transparentModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content border-0" style="background: transparent;">
        <div class="modal-header border-0">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer border-0">
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="mySubModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-ring">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
</body>

</html>