<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= if Enum.any?(@conn.path_info, fn x -> x == "blogs" end) do %>
  <% c = @conn 
  title = c.private.plug_session["title"]
  description = c.private.plug_session["description"]
  image = c.private.plug_session["image"]
  image = "/images/forest_sd.jpg"
  IO.inspect(title)
  IO.inspect(description)
  IO.inspect(image)
  string = ~s(
  <meta property="og:url" content="http://ww2.methodist.org.my" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="#{title}" />
  <meta property="og:image" content="http://ww2.methodist.org.my#{image}" />
  <meta property="og:description" content="#{title}" />
)
  %>
  <%= raw(string) %>
  <% end %>
  <title>卫理华人年议会 Methodist Chinese Annual Conference | CAC</title>
  <!-- CSS Files -->
  <link href="/assets/custom.css" rel="stylesheet">
  <link href="/assets/responsive.css" rel="stylesheet">
  <link href="/assets/color.css" rel="stylesheet">
  <link href="/assets/all.css" rel="stylesheet">
  <link href="/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">
  <link href="/assets/prettyPhoto.css" rel="stylesheet">
  <link href="/assets/slick.css" rel="stylesheet">
  <link rel="icon" href="" type="image/png">

  <!-- JS 
  <script src="/assets/jquery.min.js"></script>
  -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/assets/owl.carousel.min.js"></script>
  <script src="/assets/jquery.prettyPhoto.js"></script>
  <script src="/assets/slick.min.js"></script>
  <!--reveal start-->
  <link rel="stylesheet" href="/vendor/revealjs/reveal.css" />
  <link rel="stylesheet" href="/vendor/revealjs/theme/white.css" />
  <script type="text/javascript" src="/vendor/revealjs/reveal.js"></script>
  <script type="text/javascript" src="/js/bootstrap.notify.js"></script>
  <!--reveal end -->

  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  <!-- v1
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/bootstrap_journal.min.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/all.css") %>"/>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.min.js"></script>
    <script  type="text/javascript" src="/js/sha.js"></script>
    <link async rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/datatables.min.css") %>"/>
    <script  type="text/javascript" src="/js/datatables.min.js"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="/vendor/chartist/chartist.css"/>
    <script  type="text/javascript" src="/vendor/chartist/chartist.min.js"></script>
     <script src="/js/swipe-listener.min.js"></script>
    

    -->
  <script type="text/javascript" src="/js/app.js"></script>
</head>

<body style="overflow-x: hidden;" id="swiper-container">
  <% render("frontend_nav.html", conn: @conn) %>
  <%= @inner_content %>

  <div class="overlay"></div>

      <div style="bottom: 2vh;right: 6vw; z-index: 100;"  class="toTop btn btn-success position-fixed btn-sm rounded">
        <i class="fa fa-2x fa-caret-up" id="arc"></i>
      </div>
  <script type="text/javascript">
  $(document).ready(function() {
    <%= cond do %>
    <% get_flash(@conn, :info) != nil -> %>
    App.notify("<%= get_flash(@conn, :info) %>", { type: 'success' });
    <% get_flash(@conn, :error) != nil -> %>
    App.notify("<%= get_flash(@conn, :error) %>", { type: 'danger' });
    <% true -> %>
    <% end %>
  })

  $(".toTop").click(() => {
    $("#pdf-render").removeClass("d-block")
    $("#arc").removeClass("fa-times")
    $("#arc").addClass("fa-caret-up")
    $("div[aria-label='mainbar']")[0].scrollIntoView();
  })
  $(document).on("click", ".navi a", function(event) {
    event.preventDefault();
    navigateTo($(this).attr("href"))
  });
  </script>
  <div class="modal" id="mySubModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-ring">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
</body>

</html>