<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= if Enum.any?(@conn.path_info, fn x -> x == "blogs" or x == "pages" end) do %>
  <% c = @conn
  title = c.private.plug_session["title"]
  description = c.private.plug_session["description"]
  image = "/images/forest_sd.jpg"
  image = c.private.plug_session["image"]
  string = ~s(
  <meta property="og:url" content="https://www.methodist.org.my#{c.request_path}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="#{title}" />
  <meta property="og:image" content="http://www.methodist.org.my#{image}" />
  <meta property="og:description" content="#{description}" />

)
  %>
  <%= raw(string) %>
  <% end %>
  <title>马来西亚基督教 卫理公会华人年议会 | Chinese Annual Conference</title>
  <link rel="icon" href="" type="image/png">
  <!-- Dependency Stylesheet -->
  <link rel="stylesheet" type="text/css" href="/dependencies/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/dependencies/fontawesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/dependencies/animate/animate.min.css">
  <link rel="stylesheet" type="text/css" href="/dependencies/swiper/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="/dependencies/magnific-popup/css/magnific-popup.css">
  <!-- Site Stylesheet -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <!-- Dependency Scripts -->
  <script src="/dependencies/jquery/jquery.min.js"></script>
  <script src="/dependencies/popper.js/popper.min.js"></script>
  <script src="/dependencies/bootstrap/js/bootstrap.min.js"></script>
  <script src="/dependencies/appear/appear.min.js"></script>
  <script src="/dependencies/swiper/js/swiper.min.js"></script>
  <script src="/dependencies/masonry/masonry.min.js"></script>
  <script src="/dependencies/magnific-popup/js/magnific-popup.min.js"></script>
  <script src="/dependencies/theia-sticky-sidebar/resize-sensor.min.js"></script>
  <script src="/dependencies/theia-sticky-sidebar/theia-sticky-sidebar.min.js"></script>
  <script src="/dependencies/validator/validator.min.js"></script>
  <script src="/dependencies/tween-max/tween-max.js"></script>
  <script src="/dependencies/wow/js/wow.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script src="/js/firebase-app.js"></script>
  <!-- Add Firebase products that you want to use -->
  <script src="/js/firebase-auth.js"></script>
  <script src="/vendor/firebase-ui/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="/vendor/firebase-ui/firebase-ui-auth.css" />
  <!-- Google tag (gtag.js) -->
  <script async defer src="https://www.googletagmanager.com/gtag/js?id=G-Z4PS6CP7TS"></script>
  <meta name="google-site-verification" content="a6tAO2pnpa0sytcZBB_LRHj-RC-BH00myXjyqQgZS_w" />
</head>

<body>
  <%= @inner_content %>
  <script type="text/javascript">
  $(document).ready(function() {

    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-Z4PS6CP7TS');

    <%= cond do %>
    <% get_flash(@conn, :info) != nil -> %>
    App.notify("<%= get_flash(@conn, :info) %>", { type: 'success' });
    <% get_flash(@conn, :error) != nil -> %>
    App.notify("<%= get_flash(@conn, :error) %>", { type: 'danger' });
    <% true -> %>
    <% end %>



    /*-------------------------------------
  //  Mobile Menu Toggle
  -------------------------------------*/
    $(document).on("click", ".sidebarBtn",  function(e) {
      e.preventDefault();
      if ($(".rt-slide-nav").is(":visible")) {
        $(".rt-slide-nav").slideUp();
        $("body").removeClass("slidemenuon");
      } else {
        $(".rt-slide-nav").slideDown();
        $("body").addClass("slidemenuon");
      }
    });
  })



  $(document).on("click", "a.navi", function(event) {
    event.preventDefault();
    navigateTo($(this).attr("href"))
  });
  </script>
  <div class="modal" id="transparentModal">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content border-0" style="background: transparent;">
        <div class="modal-header border-0">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body" style="height: 100vh; width: 100vw;">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer border-0">
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="mySubModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-ring">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
</body>
<!-- custom -->
<script src="/assets/js/app.js"></script>

</html>